body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 20px 100px;
    text-align: center;
}

.container p{
    font-size: 30px;
}

ul{
    list-style: none;
    display: flex;
}

ul li{
   padding: 20px;
   color: purple;
}